:root{
--red-600:#e60023;--red-700:#cc001f;
--ink:#000000;--ink-soft:#211922;--body:#33332e;--charcoal:#262622;--mute:#62625b;--ash:#91918c;--stone:#c8c8c1;
--hairline:#dadad3;--hairline-soft:#e5e5e0;
--white:#ffffff;--cream-50:#fbfbf9;--cream-100:#f6f6f3;--gray-cream-200:#e5e5e0;--gray-cream-300:#c8c8c1;
--near-black:#262622;
--blue-500:#435ee5;--blue-400:#617bff;--purple-500:#7e238b;--purple-600:#6845ab;
--success-deep:#103c25;--success-pale:#c7f0da;--error:#9e0a0a;--error-deep:#cc001f;

--color-primary:var(--red-600);
--color-on-primary:var(--white);
--color-primary-pressed:var(--red-700);
--color-ink:var(--ink);
--color-ink-soft:var(--ink-soft);
--color-body:var(--body);
--color-charcoal:var(--charcoal);
--color-mute:var(--mute);
--color-ash:var(--ash);
--color-stone:var(--stone);
--color-hairline:var(--hairline);
--color-hairline-soft:var(--hairline-soft);
--color-on-secondary:var(--ink);
--color-secondary-bg:var(--gray-cream-200);
--color-secondary-pressed:var(--gray-cream-300);
--color-canvas:var(--white);
--color-surface-soft:var(--cream-50);
--color-surface-card:var(--cream-100);
--color-surface-elevated:var(--white);
--color-surface-dark:var(--near-black);
--color-on-dark:var(--white);
--color-on-dark-mute:rgba(255,255,255,.7);
--color-focus-outer:var(--blue-500);
--color-focus-inner:var(--white);
--color-accent-pressed-blue:var(--blue-400);
--color-accent-purple:var(--purple-500);
--color-accent-purple-deep:var(--purple-600);
--color-success-deep:var(--success-deep);
--color-success-pale:var(--success-pale);
--color-error:var(--error);
--color-error-deep:var(--error-deep);
}
